.header__content {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 55px;
}

.header__title {
    color: #212121;
    font-family: 'Arvo';
    font-size: 36px;
    line-height: 48px;
}

.header__text {
    color: #9FA3A7;
    text-align: center;
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 26px;
}